[submodule "themes/hallo"]
	path = themes/hallo
	url = https://github.com/EmielH/hallo-hugo.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
