<!-- Matomo Tag Manager -->
<script type="text/plain" data-cookiecategory="analytics">
var _mtm = window._mtm = window._mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.async=true; g.src='https://track.pramari.de/js/container_VpJ7IyzP.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->

<link rel="stylesheet" href="https://pramari.de/static/cookieconsent/cookieconsent.css" media="print" onload="this.media='all'">
