<!-- Matomo Tag Manager -->
<script>
var _mtm = window._mtm = window._mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.async=true; g.src='https://track.pramari.de/js/container_VpJ7IyzP.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->
<!-- Mailchimp -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e2934b313d22bb2d224b5d948/ae461f49d56fc016726979351.js");</script>
<!-- End Mailchimp -->
<script type="text/plain" data-category="analytics">
 _paq.push(['setConsentGiven']);
</script>
<script type="text/plain" data-category="!analytics">
 _paq.push(['forgetConsentGiven']);
</script>
<link rel="stylesheet" href="https://pramari.de/static/cookieconsent/cookieconsent.css" media="print" onload="this.media='all'">
